{
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "@typescript-eslint/no-unused-vars": "warn",
    "import/prefer-default-export": "off",
    "radix": "off",
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "no-debugger": "warn",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-return-assign": "off",
    "object-curly-newline": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
